{# Serve SDS secrets for mTLS. The secrets context plugin populates the
   "secrets" dict from AWS Secrets Manager. #}
{%- for name, leaf in secrets.items() %}
- "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret
  name: {{ name }}-cert
  tls_certificate:
    certificate_chain:
      inline_string: {{ leaf.certificate_pem | tojson }}
    private_key:
      inline_string: {{ leaf.private_key_pem | tojson }}
- "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret
  name: {{ name }}-ca
  validation_context:
    trusted_ca:
      inline_string: {{ leaf.ca_cert_pem | tojson }}
{%- endfor %}
